/* GetWeb.css framework  is made by Ashutosh 
Pandey */

:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-gray-100:#f8f9fa;--bs-gray-200:#e9ecef;--bs-gray-300:#dee2e6;--bs-gray-400:#ced4da;--bs-gray-500:#adb5bd;--bs-gray-600:#6c757d;--bs-gray-700:#495057;--bs-gray-800:#343a40;--bs-gray-900:#212529;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-primary-rgb:13,110,253;--bs-secondary-rgb:108,117,125;--bs-success-rgb:25,135,84;--bs-info-rgb:13,202,240;--bs-warning-rgb:255,193,7;--bs-danger-rgb:220,53,69;--bs-light-rgb:248,249,250;--bs-dark-rgb:33,37,41;--bs-white-rgb:255,255,255;--bs-black-rgb:0,0,0;--bs-body-color-rgb:33,37,41;--bs-body-bg-rgb:255,255,255;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));--bs-body-font-family:var(--bs-font-sans-serif);--bs-body-font-size:1rem;--bs-body-font-weight:400;--bs-body-line-height:1.5;--bs-body-color:#212529;--bs-body-bg:#fff
}


/* universal */
body{
margin:0;
}

.us-none{
user-select:none;
}

html{
scroll-behavior:smooth;
}


/*for margin */
/* for margin*/
.mt-0{
margin-top:0rem;
}
.m-auto{
margin:auto;
}
.mx-auto{
margin-inline:auto;
}
.m-1{
margin:0.5rem;
}
.m-2{
margin:1rem;
}
.m-3{
margin:1.5rem;
}
.m-4{
margin:2rem;
}
.m-5{
margin:2.5rem;
}
.m-6{
margin:3rem;
}
.m-7{
margin:3.5rem;
}
.m-8{
margin:4rem;
}
.m-9{
margin:4.5rem;
}
.m-10{
margin:5rem;
}

/* form margin-top */

.mt-1{
margin-top:1rem;
}
.mt-2{
margin-top:2rem;
}
.mt-3{
margin-top:3rem;
}
.mt-4{
margin-top:4rem;
}
.mt-5{
margin-top:5rem;
}
.mt-6{
margin-top:6rem;
}
.mt-7{
margin-top:7rem;
}
.mt-8{
margin-top:8rem;
}
.mt-9{
margin-top:9rem;
}
.mt-10{
margin-top:10rem;
}

/* for margin-bottom */
.mb-0{
margin-bottom:0rem;
}
.mb-1{
margin-bottom:1rem;
}
.mb-2{
margin-bottom:2rem;
}
.mb-3{
margin-bottom:3rem;
}
.mb-4{
margin-bottom:4rem;
}
.mb-5{
margin-bottom:5rem;
}
.mb-6{
margin-bottom:6rem;
}
.mb-7{
margin-bottom:7rem;
}
.mb-8{
margin-bottom:8rem;
}
.mb-9{
margin-bottom:9rem;
}
.mb-10{
margin-bottom:10rem;
}

/* for margin-left */
.ml-0{
margin-left:0rem;
}
.ml-1{
margin-left:1rem;
}
.ml-2{
margin-left:2rem;
}
.ml-3{
margin-left:3rem;
}
.ml-4{
margin-left:4rem;
}
.ml-5{
margin-left:5rem;
}
.ml-6{
margin-left:6rem;
}
.ml-7{
margin-left:7rem;
}
.ml-8{
margin-left:8rem;
}
.ml-9{
margin-left:9rem;
}
.ml-10{
margin-left:10rem;
}

/* for margin-right */
.mr-0{
margin-right:0rem;
}
.mr-1{
margin-right:1rem;
}
.mr-2{
margin-right:2rem;
}
.mr-3{
margin-right:3rem;
}
.mr-4{
margin-right:4rem;
}
.mr-5{
margin-right:5rem;
}
.mr-6{
margin-right:6rem;
}
.mr-7{
margin-right:7rem;
}
.mr-8{
margin-right:8rem;
}
.mr-9{
margin-right:9rem;
}
.mr-10{
margin-right:10rem;
}
/* margin ended */




/*for padding */
/* for padding */
.mr-0{
margin-right:0rem;
}
.px-auto{
padding-inline:auto;
}

.p-1{
padding:0.5rem;
}
.p-2{
padding:1rem;
}
.p-3{
padding:1.5rem;
}
.p-4{
padding:2rem;
}
.p-5{
padding:2.5rem;
}
.p-6{
padding:3rem;
}
.p-7{
padding:3.5rem;
}
.p-8{
padding:4rem;
}
.p-9{
padding:4.5rem;
}
.p-10{
padding:5rem;
}

/* for padding-top */

.pt-1{
padding-top:1rem;
}
.pt-2{
padding-top:2rem;
}
.pt-3{
padding-top:3rem;
}
 .pt-4{
padding-top:4rem;
}
.pt-5{
padding-top:5rem;
}
.pt-6{
padding-top:6rem;
}
.pt-7{
padding-top:7rem;
}
.pt-8{
padding-top:8rem;
}
.pt-9{
padding-top:9rem;
}
.pt-10{
padding-top:10rem;
}

/* for padding-bottom */
.mr-0{
margin-right:0rem;
}
.pb-1{
padding-bottom:1rem;
}
.pb-2{
padding-bottom:2rem;
}
.pb-3{
padding-bottom:3rem;
}
.pb-4{
padding-bottom:4rem;
}
.pb-5{
padding-bottom:5rem;
}
.pb-6{
padding-bottom:6rem;
}
.pb-7{
padding-bottom:7rem;
}
.pb-8{
padding-bottom:8rem;
}
.pb-9{
padding-bottom:9rem;
}
.pb-10{
padding-bottom:10rem;
}

/* for padding-left */
.mr-0{
margin-right:0rem;
}
.pl-1{
padding-left:1rem;
}
.pl-2{
padding-left:2rem;
}
.pl-3{
padding-left:3rem;
}
.pl-4{
padding-left:4rem;
}
.pl-5{
padding-left:5rem;
}
.pl-6{
padding-left:6rem;
}
.pl-7{
padding-left:7rem;
}
.pl-8{
padding-left:8rem;
}
.pl-9{
padding-left:9rem;
}
.pl-10{
padding-left:10rem;
}

/* for padding-right */
.mr-0{
margin-right:0rem;
}
.pr-1{
padding-right:1rem;
}
.pr-2{
padding-right:2rem;
}
.pr-3{
padding-right:3rem;
}
.pr-4{
padding-right:4rem;
}
.pr-5{
padding-right:5rem;
}
.pr-6{
padding-right:6rem;
}
.pr-7{
padding-right:7rem;
}
.pr-8{
padding-right:8rem;
}
.pr-9{
padding-right:9rem;
}
.pr-10{
padding-right:10rem;
}
/* padding ended */




/* For Background */

/* for black */
.mr-0{
margin-right:0rem;
}
.bc-black{
background-color:#000;
}

/* for blue */
.mr-0{
margin-right:0rem;
}
.bc-blue{
background-color:blue;
}

/* for red */
.mr-0{
margin-right:0rem;
}
.bc-red{
background-color:red;
}

/* for yellow */
.mr-0{
margin-right:0rem;
}
.bc-yellow{
background-color:yellow;
}

/* for green */
.mr-0{
margin-right:0rem;
}
.bc-green{
background-color:green;
}

/* for cyan */
.mr-0{
margin-right:0rem;
}
.bc-cyan{
background-color:cyan;
}

/* for grey */
.mr-0{
margin-right:0rem;
}
.bc-gray{
background-color:gray;
}

/* for purple */
.mr-0{
margin-right:0rem;
}
.bc-purple{
background-color:#8419e5;
}

/* for brown */
.mr-0{
margin-right:0rem;
}
.bc-brown{
background-color:brown;
}

/* for white */
.mr-0{
margin-right:0rem;
}
.bc-white{
background-color:white;
}
/* background-color  ended*/







/* for font-color */
.mr-0{
margin-right:0rem;
}
.c-blue{
color:blue;
}
.c-black{
color:black;
}
.c-white{
color:#fff;
}
.c-gray{
color:gray;
}
.c-red{
color:red;
}
.c-green{
color:green;
}
.c-yellow{
color:yellow;
}
.c-purple{
color:#8419e5;
}
.c-cyan{
color:cyan;
}
/* font-color ended*/



/* centering */
/* centering vertically */
.vc{
position:absolute;
top:50%;
transform:translateY(-50%);
}
/* for horizontalally */
.hc{
position:absolute;
left:50%;
transform:translateX(-50%);
}
.center{
position:absolute;
left:50%;
transform:translateX(-50%);
}

/* centering ended*/





/* For border-radius */
.br-1{
border-radius:10px;
}
.br-2{
border-radius:15px;
}
.br-3{
border-radius:20px;
}
.br-4{
border-radius:25px;
}
.br-5{
border-radius:30px;
}
.br-6{
border-radius:35px;
}
.br-7{
border-radius:40px;
}
.br-8{
border-radius:45px;
}
.br-9{
border-radius:50px;
}
.br-10{
border-radius:55px;
}
.br-full{
border-radius:100%;
}
/* border-radius  ended*/




/* For width */
.w-1{
width:10%;
}
.w-2{
width:20%;
}
.w-3{
width:30%;
}
.w-4{
width:40%;
}
.w-5{
width:50%;
}
.w-6{
width:60%;
}
.w-7{
width:70%;
}
.w-8{
width:80%;
}
.w-9{
width:90%;
}
.w-10{
width:96%;
}
@media(min-width:768px){
.w-10{
width:99%;
}				
}
/* width ended */




/* height ended */
.h-1{
height:10vh;
}
.h-2{
height:20vh;
}
.h-3{
height:30vh;
}
.h-4{
height:40vh;
}
.h-5{
height:50vh;
}
.h-6{
height:60vh;
}
.h-7{
height:70vh;
}
.h-8{
height:80vh;
}
.h-9{
height:90vh;
}
.h-10{
height:100vh;
}
/* height ended*/



/* for font-size */
.fs-1{
font-size:10px;
}
.fs-2{
font-size:13px;
}
.fs-3{
font-size:16px;
}
.fs-4{
font-size:19px;
}
.fs-5{
font-size:22px;
}
.fs-6{
font-size:25px;
}
.fs-7{
font-size:28px;
}
/* font-size ended*/





/* for button */
.btn{
font-weight:550;
text-decoration:none;
}
.btn:hover{
border:1.5px solid #fff;
box-shadow:inset 0px 0px 10px #fff;
}

/* for button background */

.btn-red{
background:red;
}
.btn-black{
background:black;
}
.btn-purple{
background:#8419e5;
}
.btn-green{
background:greenyellow;
}
.btn-cyan{
background:cyan;
}
.btn-blue{
background:blue;
}
.btn-brown{
background:brown;
}
.btn-pink{
background:pink;
}
.btn-orange{
background:orange;
}
.btn-white{
background:white;
}


/* for button font-color*/

.btn-c-red{
color:red;
}
.btn-c-black{
color:black;
}
.btn-c-purple{
color:#8419e5;
}
.btn-c-green{
color:greenyellow;
}
.btn-c-cyan{
color:cyan;
}
.btn-c-blue{
color:blue;
}
.btn-c-brown{
color:brown;
}
.btn-c-pink{
color:pink;
}
.btn-c-orange{
color:orange;
}
.btn-c-white{
color:white;
}
/* button ended*/




/* for position */
.p-ab{
position:absolute;
}
.p-re{
position:relative;
}
.p-fi{
position:fixed;
}
/* for left  */
.l-1{
left:1rem;
}
.l-2{
left:2rem;
}
.l-3{
left:3rem;
}
.l-4{
left:4rem;
}
.l-5{
left:5rem;
}
.l-6{
left:6rem;
}
.l-7{
left:7rem;
}
.l-8{
left:8rem;
}
.l-9{
left:9rem;
}
.l-10{
left:10rem;
}

/* for right */
.r-1{
right:1rem;
}
.r-2{
right:2rem;
}
.r-3{
right:3rem;
}
.r-4{
right:4rem;
}
.r-5{
right:5rem;
}
.r-6{
right:6rem;
}
.r-7{
right:7rem;
}
.r-8{
right:8rem;
}
.r-9{
right:9rem;
}
.r-10{
right:10rem;
}
/* position ended*/




/*for display */
.d-block{
display:block;
}
.d-flex{
display:flex;
}
.d-none{
display:none;
}
.fd-row{
flex-direction:row;
}
.fd-col{
flex-direction:column;
}
/* display ended*/




/* for line-height */
.lh-1{
line-height:10px;
}
.lh-2{
line-height:20px;
}
.lh-3{
line-height:30px;
}
.lh-4{
line-height:40px;
}
.lh-5{
line-height:50px;
}
.lh-6{
line-height:60px;
}
.lh-7{
line-height:70px;
}
.lh-8{
line-height:80px;
}
.lh-9{
line-height:90px;
}
.lh-10{
line-height:100px;
}
/* line-height ended*/





/* for opacity */
.o-1{
opacity:1;	
}
.o-0.5{
opacity:0.5;
}
.o-0{
opacity:0;				
}



/* for user-select */
.us-none{
user-select:none;
}
/* user-select ended*/



/* for letter-spacing */
.ls-1{
letter-spacing:1px;
}
.ls-2{
letter-spacing:2px;
}
.ls-3{
letter-spacing:3px;
}
.ls-4{
letter-spacing:4px;
}
.ls-5{
letter-spacing:5px;
}
.ls-6{
letter-spacing:6px;
}
.ls-7{
letter-spacing:7px;
}
.ls-8{
letter-spacing:8px;
}
.ls-9{
letter-spacing:9px;
}
.ls-10{
letter-spacing:10px;
}
/*letter-spacing ended*/



/* for float */
.f-l{
float:left;
}
.f-r{
float: right;
}
.f-n{
float: none;
}
/* float ended*/





/* align-items and justify-content*/
.ai-center{
align-items:center;
}
.jc-center{
justify-content:center;
}
.jc-sb{
justify-content:space-between;
}
/* align-items and justify-content ended */



/* text-alignment*/
.ta-center{
text-align:center;
}
.ta-left{
text-align:left;
}
.ta-right{
text-align:right;
}
/* text-alignment ended */




/* vertical alignment*/
.va-middle{
vertical-align:middle;
}
.va-bottom{
vertical-align:bottom;
}
.va-base{
vertical-align:baseline;
}
/* vertical alignment ended */








/* for box-shadow */
.bx-1-white{
box-shadow:0px 0px 10px #ffffff;
}
.bx-2-white{
box-shadow:0px 0px 20px #ffffff;
}
.bx-3-white{
box-shadow:0px 0px 30px #ffffff;
}
.bx-4-white{
box-shadow:0px 0px 40px #ffffff;
}
.bx-5-white{
box-shadow:0px 0px 50px #ffffff;
}
.bx-6-white{
box-shadow:0px 0px 60px #ffffff;
}
.bx-7-white{
box-shadow:0px 0px 70px #ffffff;
}
.bx-8-white{
box-shadow:0px 0px 80px #ffffff;
}
.bx-9-white{
box-shadow:0px 0px 90px #ffffff;
}
.bx-10-white{
box-shadow:0px 0px 100px #ffffff;
}


.bx-i-1-white{
box-shadow:inset 0px 0px 10px #ffffff;
}
.bx-i-2-white{
box-shadow:inset 0px 0px 20px #ffffff;
}
.bx-i-3-white{
box-shadow:inset 0px 0px 30px #ffffff;
}
.bx-i-4-white{
box-shadow:inset 0px 0px 40px #ffffff;
}
.bx-i-5-white{
box-shadow:inset 0px 0px 50px #ffffff;
}
.bx-i-6-white{
box-shadow:inset 0px 0px 60px #ffffff;
}
.bx-i-7-white{
box-shadow:inset 0px 0px 70px #ffffff;
}
.bx-i-8-white{
box-shadow:inset 0px 0px 80px #ffffff;
}
.bx-i-9-white{
box-shadow:inset 0px 0px 90px #ffffff;
}
.bx-j-10-white{
box-shadow:inset 0px 0px 100px #ffffff;
}
/* box-shadow ended*/



/* for text-shadow */
.tx-1-white{
text-shadow:0px 0px 10px #fff;
}
.tx-2-white{
text-shadow:0px 0px 20px #fff;
}
.tx-3-white{
text-shadow:0px 0px 30px #fff;
}
.tx-4-white{
text-shadow:0px 0px 40px #fff;
}
.tx-5-white{
text-shadow:0px 0px 50px #fff;
}
/* text-shadow ended*/
















/* javascript helping CSS*/
#alert{
display:none;
}

.ashu{
width:200px;
height:200px;
background-image:url("https://abtp2.github.io/getweb/about2.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
border:5px solid #fff;
border-radius:100%;
color:#fff;
}
/* ye bhi ended */







*,::after,::before{box-sizing:border-box}@media (prefers-reduced-motion:no-preference){:root{scroll-behavior:smooth}}body{margin:0;font-family:var(--bs-body-font-family);font-size:var(--bs-body-font-size);font-weight:var(--bs-body-font-weight);line-height:var(--bs-body-line-height);color:var(--bs-body-color);text-align:var(--bs-body-text-align);background-color:var(--bs-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}

.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x))}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y)}

.col{flex:1 0 0%}.row-cols-auto>*{flex:0 0 auto;width:auto}.row-cols-1>*{flex:0 0 auto;width:100%}.row-cols-2>*{flex:0 0 auto;width:50%}.row-cols-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-4>*{flex:0 0 auto;width:25%}.row-cols-5>*{flex:0 0 auto;width:20%}.row-cols-6>*{flex:0 0 auto;width:16.6666666667%}.col-auto{flex:0 0 auto;width:auto}.col-1{flex:0 0 auto;width:8.33333333%}.col-2{flex:0 0 auto;width:16.66666667%}.col-3{flex:0 0 auto;width:25%}.col-4{flex:0 0 auto;width:33.33333333%}.col-5{flex:0 0 auto;width:41.66666667%}.col-6{flex:0 0 auto;width:50%}.col-7{flex:0 0 auto;width:58.33333333%}.col-8{flex:0 0 auto;width:66.66666667%}.col-9{flex:0 0 auto;width:75%}.col-10{flex:0 0 auto;width:83.33333333%}.col-11{flex:0 0 auto;width:91.66666667%}.col-12{flex:0 0 auto;width:100%}.offset-1{margin-left:8.33333333%}.offset-2{margin-left:16.66666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.33333333%}.offset-5{margin-left:41.66666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.33333333%}.offset-8{margin-left:66.66666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.33333333%}.offset-11{margin-left:91.66666667%}.g-0,.gx-0{--bs-gutter-x:0}.g-0,.gy-0{--bs-gutter-y:0}.g-1,.gx-1{--bs-gutter-x:0.25rem}.g-1,.gy-1{--bs-gutter-y:0.25rem}.g-2,.gx-2{--bs-gutter-x:0.5rem}.g-2,.gy-2{--bs-gutter-y:0.5rem}.g-3,.gx-3{--bs-gutter-x:1rem}.g-3,.gy-3{--bs-gutter-y:1rem}.g-4,.gx-4{--bs-gutter-x:1.5rem}.g-4,.gy-4{--bs-gutter-y:1.5rem}.g-5,.gx-5{--bs-gutter-x:3rem}.g-5,.gy-5{--bs-gutter-y:3rem}@media (min-width:576px){.col-sm{flex:1 0 0%}.row-cols-sm-auto>*{flex:0 0 auto;width:auto}.row-cols-sm-1>*{flex:0 0 auto;width:100%}.row-cols-sm-2>*{flex:0 0 auto;width:50%}.row-cols-sm-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-sm-4>*{flex:0 0 auto;width:25%}.row-cols-sm-5>*{flex:0 0 auto;width:20%}.row-cols-sm-6>*{flex:0 0 auto;width:16.6666666667%}.col-sm-auto{flex:0 0 auto;width:auto}.col-sm-1{flex:0 0 auto;width:8.33333333%}.col-sm-2{flex:0 0 auto;width:16.66666667%}.col-sm-3{flex:0 0 auto;width:25%}.col-sm-4{flex:0 0 auto;width:33.33333333%}.col-sm-5{flex:0 0 auto;width:41.66666667%}.col-sm-6{flex:0 0 auto;width:50%}.col-sm-7{flex:0 0 auto;width:58.33333333%}.col-sm-8{flex:0 0 auto;width:66.66666667%}.col-sm-9{flex:0 0 auto;width:75%}.col-sm-10{flex:0 0 auto;width:83.33333333%}.col-sm-11{flex:0 0 auto;width:91.66666667%}.col-sm-12{flex:0 0 auto;width:100%}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.33333333%}.offset-sm-2{margin-left:16.66666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.33333333%}.offset-sm-5{margin-left:41.66666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.33333333%}.offset-sm-8{margin-left:66.66666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.33333333%}.offset-sm-11{margin-left:91.66666667%}.g-sm-0,.gx-sm-0{--bs-gutter-x:0}.g-sm-0,.gy-sm-0{--bs-gutter-y:0}.g-sm-1,.gx-sm-1{--bs-gutter-x:0.25rem}.g-sm-1,.gy-sm-1{--bs-gutter-y:0.25rem}.g-sm-2,.gx-sm-2{--bs-gutter-x:0.5rem}.g-sm-2,.gy-sm-2{--bs-gutter-y:0.5rem}.g-sm-3,.gx-sm-3{--bs-gutter-x:1rem}.g-sm-3,.gy-sm-3{--bs-gutter-y:1rem}.g-sm-4,.gx-sm-4{--bs-gutter-x:1.5rem}.g-sm-4,.gy-sm-4{--bs-gutter-y:1.5rem}.g-sm-5,.gx-sm-5{--bs-gutter-x:3rem}.g-sm-5,.gy-sm-5{--bs-gutter-y:3rem}}@media (min-width:768px){.col-md{flex:1 0 0%}.row-cols-md-auto>*{flex:0 0 auto;width:auto}.row-cols-md-1>*{flex:0 0 auto;width:100%}.row-cols-md-2>*{flex:0 0 auto;width:50%}.row-cols-md-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-md-4>*{flex:0 0 auto;width:25%}.row-cols-md-5>*{flex:0 0 auto;width:20%}.row-cols-md-6>*{flex:0 0 auto;width:16.6666666667%}.col-md-auto{flex:0 0 auto;width:auto}.col-md-1{flex:0 0 auto;width:8.33333333%}.col-md-2{flex:0 0 auto;width:16.66666667%}.col-md-3{flex:0 0 auto;width:25%}.col-md-4{flex:0 0 auto;width:33.33333333%}.col-md-5{flex:0 0 auto;width:41.66666667%}.col-md-6{flex:0 0 auto;width:50%}.col-md-7{flex:0 0 auto;width:58.33333333%}.col-md-8{flex:0 0 auto;width:66.66666667%}.col-md-9{flex:0 0 auto;width:75%}.col-md-10{flex:0 0 auto;width:83.33333333%}.col-md-11{flex:0 0 auto;width:91.66666667%}.col-md-12{flex:0 0 auto;width:100%}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.33333333%}.offset-md-2{margin-left:16.66666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.33333333%}.offset-md-5{margin-left:41.66666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.33333333%}.offset-md-8{margin-left:66.66666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.33333333%}.offset-md-11{margin-left:91.66666667%}

.g-md-0,.gx-md-0{--bs-gutter-x:0}.g-md-0,.gy-md-0{--bs-gutter-y:0}.g-md-1,.gx-md-1{--bs-gutter-x:0.25rem}.g-md-1,.gy-md-1{--bs-gutter-y:0.25rem}.g-md-2,.gx-md-2{--bs-gutter-x:0.5rem}.g-md-2,.gy-md-2{--bs-gutter-y:0.5rem}.g-md-3,.gx-md-3{--bs-gutter-x:1rem}.g-md-3,.gy-md-3{--bs-gutter-y:1rem}.g-md-4,.gx-md-4{--bs-gutter-x:1.5rem}.g-md-4,.gy-md-4{--bs-gutter-y:1.5rem}.g-md-5,.gx-md-5{--bs-gutter-x:3rem}.g-md-5,.gy-md-5{--bs-gutter-y:3rem}}@media (min-width:992px){.col-lg{flex:1 0 0%}.row-cols-lg-auto>*{flex:0 0 auto;width:auto}.row-cols-lg-1>*{flex:0 0 auto;width:100%}.row-cols-lg-2>*{flex:0 0 auto;width:50%}.row-cols-lg-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-lg-4>*{flex:0 0 auto;width:25%}.row-cols-lg-5>*{flex:0 0 auto;width:20%}.row-cols-lg-6>*{flex:0 0 auto;width:16.6666666667%}.col-lg-auto{flex:0 0 auto;width:auto}.col-lg-1{flex:0 0 auto;width:8.33333333%}.col-lg-2{flex:0 0 auto;width:16.66666667%}.col-lg-3{flex:0 0 auto;width:25%}.col-lg-4{flex:0 0 auto;width:33.33333333%}.col-lg-5{flex:0 0 auto;width:41.66666667%}.col-lg-6{flex:0 0 auto;width:50%}.col-lg-7{flex:0 0 auto;width:58.33333333%}.col-lg-8{flex:0 0 auto;width:66.66666667%}.col-lg-9{flex:0 0 auto;width:75%}.col-lg-10{flex:0 0 auto;width:83.33333333%}.col-lg-11{flex:0 0 auto;width:91.66666667%}.col-lg-12{flex:0 0 auto;width:100%}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.33333333%}.offset-lg-2{margin-left:16.66666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.33333333%}.offset-lg-5{margin-left:41.66666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.33333333%}.offset-lg-8{margin-left:66.66666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.33333333%}.offset-lg-11{margin-left:91.66666667%}.g-lg-0,.gx-lg-0{--bs-gutter-x:0}.g-lg-0,.gy-lg-0{--bs-gutter-y:0}.g-lg-1,.gx-lg-1{--bs-gutter-x:0.25rem}.g-lg-1,.gy-lg-1{--bs-gutter-y:0.25rem}.g-lg-2,.gx-lg-2{--bs-gutter-x:0.5rem}.g-lg-2,.gy-lg-2{--bs-gutter-y:0.5rem}.g-lg-3,.gx-lg-3{--bs-gutter-x:1rem}.g-lg-3,.gy-lg-3{--bs-gutter-y:1rem}.g-lg-4,.gx-lg-4{--bs-gutter-x:1.5rem}.g-lg-4,.gy-lg-4{--bs-gutter-y:1.5rem}.g-lg-5,.gx-lg-5{--bs-gutter-x:3rem}.g-lg-5,.gy-lg-5{--bs-gutter-y:3rem}}@media (min-width:1200px){.col-xl{flex:1 0 0%}.row-cols-xl-auto>*{flex:0 0 auto;width:auto}.row-cols-xl-1>*{flex:0 0 auto;width:100%}.row-cols-xl-2>*{flex:0 0 auto;width:50%}.row-cols-xl-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-xl-4>*{flex:0 0 auto;width:25%}.row-cols-xl-5>*{flex:0 0 auto;width:20%}.row-cols-xl-6>*{flex:0 0 auto;width:16.6666666667%}.col-xl-auto{flex:0 0 auto;width:auto}.col-xl-1{flex:0 0 auto;width:8.33333333%}.col-xl-2{flex:0 0 auto;width:16.66666667%}.col-xl-3{flex:0 0 auto;width:25%}.col-xl-4{flex:0 0 auto;width:33.33333333%}.col-xl-5{flex:0 0 auto;width:41.66666667%}.col-xl-6{flex:0 0 auto;width:50%}.col-xl-7{flex:0 0 auto;width:58.33333333%}.col-xl-8{flex:0 0 auto;width:66.66666667%}.col-xl-9{flex:0 0 auto;width:75%}.col-xl-10{flex:0 0 auto;width:83.33333333%}.col-xl-11{flex:0 0 auto;width:91.66666667%}.col-xl-12{flex:0 0 auto;width:100%}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.33333333%}.offset-xl-2{margin-left:16.66666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.33333333%}.offset-xl-5{margin-left:41.66666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.33333333%}.offset-xl-8{margin-left:66.66666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.33333333%}.offset-xl-11{margin-left:91.66666667%}.g-xl-0,.gx-xl-0{--bs-gutter-x:0}.g-xl-0,.gy-xl-0{--bs-gutter-y:0}.g-xl-1,.gx-xl-1{--bs-gutter-x:0.25rem}.g-xl-1,.gy-xl-1{--bs-gutter-y:0.25rem}.g-xl-2,.gx-xl-2{--bs-gutter-x:0.5rem}.g-xl-2,.gy-xl-2{--bs-gutter-y:0.5rem}.g-xl-3,.gx-xl-3{--bs-gutter-x:1rem}.g-xl-3,.gy-xl-3{--bs-gutter-y:1rem}.g-xl-4,.gx-xl-4{--bs-gutter-x:1.5rem}.g-xl-4,.gy-xl-4{--bs-gutter-y:1.5rem}.g-xl-5,.gx-xl-5{--bs-gutter-x:3rem}.g-xl-5,.gy-xl-5{--bs-gutter-y:3rem}}@media (min-width:1400px){.col-xxl{flex:1 0 0%}.row-cols-xxl-auto>*{flex:0 0 auto;width:auto}.row-cols-xxl-1>*{flex:0 0 auto;width:100%}.row-cols-xxl-2>*{flex:0 0 auto;width:50%}.row-cols-xxl-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-xxl-4>*{flex:0 0 auto;width:25%}.row-cols-xxl-5>*{flex:0 0 auto;width:20%}.row-cols-xxl-6>*{flex:0 0 auto;width:16.6666666667%}.col-xxl-auto{flex:0 0 auto;width:auto}.col-xxl-1{flex:0 0 auto;width:8.33333333%}.col-xxl-2{flex:0 0 auto;width:16.66666667%}.col-xxl-3{flex:0 0 auto;width:25%}.col-xxl-4{flex:0 0 auto;width:33.33333333%}.col-xxl-5{flex:0 0 auto;width:41.66666667%}.col-xxl-6{flex:0 0 auto;width:50%}.col-xxl-7{flex:0 0 auto;width:58.33333333%}.col-xxl-8{flex:0 0 auto;width:66.66666667%}.col-xxl-9{flex:0 0 auto;width:75%}.col-xxl-10{flex:0 0 auto;width:83.33333333%}.col-xxl-11{flex:0 0 auto;width:91.66666667%}.col-xxl-12{flex:0 0 auto;width:100%}


















/* This CSS is made by Ashutosh Pandey.😎
     Don't need to copy it.
     Make your own.
 */
